body{
    background-color: #3fa27f;
    margin: 0;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
h1{
    color:#fff;
    text-align: center;
}
#app {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(5, 1fr); /* rows - col */
    grid-gap: 20px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#eee;
    /* padding: 20px; */
    /* overflow: hidden; */
    grid-template-areas:    "a01 a02 a03 a04 a05"
                            "a06 a07 a08 a09 a10"
                            "a11 a12 a13 a14 a15"
                            "a16 a17 a18 a19 a20";
    }


#container {
    margin-left: 2px;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    background-color: #fff;
}

#character-info{
    padding: 0px;
    color: #1a1b41;
    width: 93%;
    height: auto;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

#character-info li{
    padding: 2px;
    text-align: center;
    
}

#liName{
    background-color: #6b94c7;
    margin-top: 5px;
}

#liGender{
    background-color: #c2e7da;
}
#liDim{
    background-color: #f1ffe7;
}
#characterPic{
    background-color: #fff;
    width: 100%;
    height: 82%;

}

#characterPic:hover{
    cursor: pointer;
 
}
#character-info li{
    list-style: none;
}

#btn {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 42%;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    width: 10%;
    height:auto;
    background-color: #3fa27f;
    
}

#btn:hover {
    cursor: pointer;
}

/******************** Responsive Design ***********************/

@media screen and (max-width:1280px){
    #app {
        grid-template: repeat(7, 1fr)/repeat(3, 1fr);
        grid-template-areas:    "a01 a02 a03" 
                                "a04 a05 a06" 
                                "a07 a08 a09" 
                                "a10 a11 a12" 
                                "a13 a14 a15"
                                "a16 a17 a18" 
                                "a19 a20    ";
        }
    #character-info{
        width: 81%;
        
    }

}

@media screen and (max-width:1023px){
    #app {
        justify-content: space-between;
        grid-template: repeat(10, 9.40%)/repeat(2, 56.4%);
        grid-template-areas:    "a01 a02" 
                                "a03 a04"
                                "a05 a06"
                                "a07 a08"
                                "a09 a10"
                                "a11 a12"
                                "a13 a14"
                                "a15 a16"
                                "a17 a18"
                                "a19 a20";
        }
    #character-info{
        width: 69%;
        
    }
    #container {
        width: 75%;
     
    }
}
@media screen and (max-width:767px){
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between;
        grid-template: repeat(20, 9.40%)/repeat(1, 56.4%);
        grid-template-areas:    "a01" 
                                "a02" 
                                "a03" 
                                "a04"
                                "a05" 
                                "a06"
                                "a07" 
                                "a08"
                                "a09" 
                                "a10"
                                "a11" 
                                "a12"
                                "a13" 
                                "a14"
                                "a15" 
                                "a16"
                                "a17" 
                                "a18"
                                "a19" 
                                "a20"; */
        }
    #character-info{
        width: 52%;
        
    }
    #container {
        margin-top: 15px;
        border:unset;
        border-radius: 5px;
        width: 75%;
        height: 53%;
     
    }
}

@media screen and (max-width:515px){

}

@media screen and (max-width:320px){

}